.footer {
  min-height: 50px;
  background: black;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  color: rgb(37, 42, 61);
  color: white;
}
